.banner-image {
  background-image: url("../../../../assets/images/carne.svg");
  background-size: cover;

  .logoNav {
    width: 15%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar-animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.scrolled {
  background-color: #000;
}

.static {
  background-color: #000;
}

.logo1 {
  width: 50%;
  height: 10%;
}
